.rtbs-block {
    text-align: left;
    margin: 0;
    li {
        @include clearfix();
        margin: 50px 0 30px;
        padding: 0;
        position: relative;
    }
    img {
        height: 114px;
        float: left;
        margin: 0 15px;
    }
    .img-identifier {
        display: none;
    }
    .img-info {
        text-transform: uppercase;
        @include vertical-middle();
        left: 172px;
        @include fonts(13);
        line-height: 15px;
        padding-right: 30px;
        color: $dark-gray2;
    }
}
#rtbs {
    margin-bottom: 50px;
    h2 {
        @include fonts(18);
        line-height: 22px;
        font-family: $reader-regular;
        padding: 0 60px;
        margin: 50px 0 25px;
    }
    sup {
        top: 0.2em;
    }
    .body1,
    .body3 {
        @include fonts(12);
        line-height: 17px;
        margin-bottom: 0;
    }
}