.featured-beverages {
	&.modules {
		padding: 0 15px;
	}
	.pod-options {
		background: url('../../../library/img/modules/featured_beverages/featured-beverages.jpg') no-repeat center;
		height: 350px;
		h2 {
			margin-top: 115px;
			margin-bottom: 20px;
		}
	}
	.drinks {
		height: 350px;
		img {
			margin-bottom: 10px;
		}
		a {
			&:hover {
				text-decoration: underline;
				color: $white;
				background: transparent url('../../../library/img/global/link-arrow-icon-light.png') no-repeat 0 60%
			}
		}
		.coke {
			background: $coca-cola;
			height: 100%;
		}
		.red-barn {
			background: $red-barn;
			height: 100%;
		}
		.tierneys {
			background: $tierneys-iced-tea;
			height: 100%;
		}
		.canada-dry {
			background: $canada-dry;
			height: 100%;
		}
		.waterful {
			background: $waterful;
			height: 100%;
		}
		.flyte {
			background: $flyte-red;
			height: 100%;
		}
	}
}