.beta-cta {
	background: transparent url('../../../library/img/modules/beta_cta/beta-background.jpg') no-repeat center;
	height: 300px;
	h2, p {
		color: $white;
	}
	p {
		padding: 10px 0 15px 0;
	}
}