.tasterprogram {
    text-align: center;
    margin-bottom: 20px;
    p {
        padding-left: 30px;
        padding-right: 30px;
    }
    .perk {
        padding-bottom: 30px;
    }
    .img{
        padding-left: 15px;
        padding-right: 15px;
    }
}