@font-face {
	font-family: 'Reader Regular';
	src: url('../../fonts/fonts/Reader/reader-regular.woff') format('woff'),
		 url('../../fonts/fonts/Reader/Reader-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Reader Medium';
	src: url('../../fonts/fonts/Reader/reader-medium.woff') format('woff'),
		 url('../../fonts/fonts/Reader/Reader-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Reader';
	src: url('../../fonts/fonts/Reader/Reader.otf') format('opentype');
}
@font-face {
	font-family: 'Reader Bold';
	src: url('../../fonts/fonts/Reader/Reader-Bold.otf') format('opentype');
}