.mixed-media-viewer {
	#s7viewer {
		margin: 15px 0 20px 0;
	}
	#s7viewer_spinLeftButton {
		top: 25px;
	}
	#s7viewer_spinRightButton {
		top: 25px;
	}
	#s7viewer_swatches {
		bottom: -20px;
	}
	#s7viewer_setIndicator {
		top: 325px !important;
	}
}